<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="mypage">
  	<update id="pwChange" parameterType="map">
  		update member set member_pw=#{pw_change} where member_id=#{id_chk}
  	</update>
  	<update id="telChange" parameterType="map">
  		update member set member_tel=#{tel_change} where member_id=#{id_chk}
  	</update>
  	<update id="phoneChange" parameterType="map">
  		update member set member_phone=#{phone_change} where member_id=#{id_chk}
  	</update>
  	<update id="emailChange" parameterType="map">
  		update member set member_email=#{email_change} where member_id=#{id_chk}
  	</update>
  	<update id="addrChange" parameterType="map">
  		update member set member_addr1=#{addr1_change},member_addr2=#{addr2_change},member_addr3=#{addr3_change} where member_id=#{id_chk}
  	</update>
  	<select id="questionList" parameterType="String" resultType="mypageQuestionBean">
  		select * from question where member_id=#{member_id} order by question_date desc
  	</select>
  	<select id="productThumb" parameterType="String" resultType="String">
  		select product_thumb from product where product_id=#{product_id}
  	</select>
  	<select id="productName" parameterType="String" resultType="String">
  		select product_name from product where product_id=#{product_id}
  	</select>
  	<select id="productPrice" parameterType="String" resultType="String">
  		select product_price from product where product_id=#{product_id}
  	</select>
  	<select id="reserveList" parameterType="String" resultType="mypageReserveBean">
  		select * from reserve where member_id=#{member_id} order by reserve_date desc
  	</select>
  	<select id="serviceName" parameterType="String" resultType="String">
  		select service_name from service where service_id=#{service_id}
  	</select>
  	<select id="reserveStateName" parameterType="String" resultType="String">
  		select reserve_state_name from reserve_state where reserve_state_id=#{reserve_state_id}
  	</select>
  	<select id="cartList" parameterType="String" resultType="mypageCartBean">
  		select * from cart where member_id=#{member_id} order by cart_id
  	</select>
  </mapper>
