/* COMMON */
html {
	position: relative;
	margin: 0;
}
.navbar{
	padding:0;
	border-radius: 0;
	border: 0;
}
.navbar-brand{
	padding-left: 30px;
	font-size: 25px;
}
.container-fluid{
	width: 100%;	
	margin: 0;
	padding: 0;
}
.carousel{
	margin-bottom: 30px;
}
footer {
    position: relative;
	width: 100%;
	text-align: center;
	color: gray;
	margin-top: 30px;
}
footer div{
	height: 60px;
	line-height: 60px;
}
<<<<<<< HEAD
.navleft {
	position: fixed;
	float: left;
}
.container {
	margin-left : 100px;
}
.container .table .td_right{
	text-align : right;
}
=======
>>>>>>> 4acbc8df5f47c36c25c8e2c5f3f7c438e3cb5aef
