<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

  <configuration>
  	<typeAliases>
  		<typeAlias alias="hotelBean" type="com.bit.companion.model.entity.hotel.HotelVo"/>
  		<typeAlias alias="memberBean" type="com.bit.companion.model.entity.login.MemberVo"/>
  		<typeAlias alias="loginBean" type="com.bit.companion.model.entity.login.LoginVo"/>
  		<!-- <typeAlias alias="empBean" type="com.bit.companion.model.entity.order"/>  -->
  		<typeAlias alias="adminNoticeBean" type="com.bit.companion.model.entity.admin.AdminNoticeVo"/>
  	</typeAliases> 
  	<mappers>
  		<mapper resource="mybatis/hotel/hotelMapper.xml"/>
  		<mapper resource="mybatis/login/memberMapper.xml"/>
  		<mapper resource="mybatis/login/loginMapper.xml"/>
  		<mapper resource="mybatis/hotel/hotelMapper.xml"/>
  		<mapper resource="mybatis/admin/adminMapper.xml"/>
  		<!-- <mapper resource="mybatis/order/orderMapper.xml"/> -->
  	</mappers>
  </configuration>
