<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

  <configuration>
  	<typeAliases>
  		<!-- hotel -->
  		<typeAlias alias="hotelBean" type="com.bit.companion.model.entity.hotel.HotelVo"/>
  		
		<!-- login -->  		
  		<typeAlias alias="memberBean" type="com.bit.companion.model.entity.login.MemberVo"/>
  		<typeAlias alias="loginBean" type="com.bit.companion.model.entity.login.LoginVo"/>
  		
  		<!-- mypage -->
  		<typeAlias alias="mypageQuestionBean" type="com.bit.companion.model.entity.mypage.MypageQuestionVo"/>
  		<typeAlias alias="mypageReserveBean" type="com.bit.companion.model.entity.mypage.MypageReserveVo"/>
  		
  		<!-- admin -->
  		<typeAlias alias="adminArticleBean" type="com.bit.companion.model.entity.admin.AdminArticleVo"/>
  		<typeAlias alias="adminCategoryBean" type="com.bit.companion.model.entity.admin.AdminCategoryVo"/>
  		<typeAlias alias="adminProductBean" type="com.bit.companion.model.entity.admin.AdminProductVo"/>
  		<typeAlias alias="adminProductViewBean" type="com.bit.companion.model.entity.admin.AdminProductViewVo"/>
  		<typeAlias alias="adminMemberViewBean" type="com.bit.companion.model.entity.admin.AdminMemberViewVo"/>
  		<typeAlias alias="adminHomeBean" type="com.bit.companion.model.entity.admin.AdminHomeVo"/>
  		
		<!-- order -->
   		<typeAlias alias="orderBean" type="com.bit.companion.model.entity.order.OrderVo"/>
  		<typeAlias alias="productBean" type="com.bit.companion.model.entity.order.ProductVo"/>
  		<typeAlias alias="likeBean" type="com.bit.companion.model.entity.order.LikeVo"/>
  		<typeAlias alias="orderQuestionBean" type="com.bit.companion.model.entity.order.OrderQuestionVo"/>
  		
  		<!-- notice -->
  		<typeAlias alias="articleBean" type="com.bit.companion.model.entity.notice.ArticleVo"/>
  	</typeAliases>
  	<mappers>
  		<!-- hotel -->
  		<mapper resource="mybatis/hotel/hotelMapper.xml"/>
  		
  		<!-- login -->
  		<mapper resource="mybatis/login/memberMapper.xml"/>
  		<mapper resource="mybatis/login/loginMapper.xml"/>
  		
  		<!-- mypage -->
  		<mapper resource="mybatis/mypage/mypageMapper.xml"/>
  		
  		<!-- admin -->
  		<mapper resource="mybatis/admin/adminArticleMapper.xml"/>
  		<mapper resource="mybatis/admin/adminProductMapper.xml"/>
  		<mapper resource="mybatis/admin/adminMemberMapper.xml"/>
  		<mapper resource="mybatis/admin/adminHomeMapper.xml"/>
  		
  		<!-- order -->
  		<mapper resource="mybatis/order/orderMapper.xml"/>
  		<mapper resource="mybatis/order/productMapper.xml"/>
  		<mapper resource="mybatis/order/likeMapper.xml"/>
  		<mapper resource="mybatis/order/orderQuestion.xml"/>
  		
  		
  		<!-- notice -->
  		<mapper resource="mybatis/notice/noticeMapper.xml"/>
  		<mapper resource="mybatis/notice/eventMapper.xml"/>
  		<mapper resource="mybatis/notice/faqMapper.xml"/>
  	</mappers>
  </configuration>  
