<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="hotel">
	<select id="selectAll" resultType="hotelBean">
		select * from `reserve`;
	</select>
	
	<!-- 임시 'test01'->회원아이디로 수정 필요 -->
	<insert id="insertOne" parameterType="hotelBean">
		insert into `reserve` values (null,'test01',#{service_id},now(),#{reserve_checkin},#{reserve_checkout},#{reserve_dogtype},#{reserve_dogage},#{reserve_msg},DEFAULT);
	</insert>
</mapper>