/*-------------------CONTENT STYLE--------------------*/


.hotelLoc{
  display: flex;
  border: solid;
  height: 300px;
  width: 600px;
  padding: 10px;
  position: relative;
  
}

.useInfo{
  border: solid;
  height: 500px;
  padding: 10px;
}