/*-------------------CONTENT STYLE--------------------*/

.reservHotel>#reservImg{
  height: 800px;
  border: solid firebrick;
}
.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 15px;
  color: rgb(11, 61, 105);
}
.form-control:focus {
  z-index: 2;
}
