/*-------------------CONTENT STYLE--------------------*/

.card .card-img-vip{
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.card .card-img-std{
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.container p{
  font-weight: 500;
}
.card-body .card-text{
  font-weight: 800px;
  font-size: 20px;
  text-align: center;
}