/*-------------------CONTENT STYLE--------------------*/

.main--title{
  margin-bottom: 30px;
  text-align: center;
}
section{

}
section .boxing{
  width: 900px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}
section .pic{
  width: 350px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}
.pic img{
  border-radius: 10px;
}
section .descrip-group{
  width: 500px;
  display: flex;
  margin-left: 30px;
  height: 100%;
  align-items: center;
}

#name{
  margin-bottom: 15px;
}
section .descrip{
  width: 90%;
  list-style: none;
}
section .descrip li{
  font-size: 18px;
  line-height: 2;
  border-bottom: 1px solid #b3b7bb;
}
section .descrip li span{
  margin-left: 10px;
}
