/*-------------------CONTENT STYLE--------------------*/


.hotelLoc{
  display: flex;
  border: solid;
  height: 400px;
  width: 80%;
  padding: 10px;
  position: relative;
  margin:30px auto;
  
}

.useinfo{
  margin-bottom: 20px;
  width:80%;
  margin-left:100px;
  
  
}
.useinfo .icon{
  padding: 0;
  background-color: green;
  margin: 0 20px;
  margin-bottom: 20px;
  height: 70px;
  width: 70px;
  align-items: center;
}

.useinfo .sub--title{
  margin-top: 5px;
  font-size: 22px;
  font-weight: 800;
}
.useinfo .third--title{
  font-size: 20px;
  font-weight: 500;
}
.table{
  border-radius: 30px;
}
.useinfo .table tr{

  height:30px;
  
}
.useinfo .table td{
  padding-left: 30px;
}

.useinfo table:last-child{
  margin-bottom: 30px;
}

#mapinfo {
	width:300px;
	height:110px;
	padding-left:10px;
}
#mapinfo .map-header{
	font-weight: 600;
	font-size:20px;
}
#mapinfo .map-section{
	color : #111;
}
#mapinfo .map-toolbar{
	width:100%;
	margin: 0 auto;
}
.map-button{
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  color: #333;
}
.map-button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.07);
}
/* FLOAT CLEARFIX */
.clearfix::after{
  content: "";
  clear: both;
  display: block;
}
.float--left{
  float: left;
}
.float--right{
  float: right;
}