/* COMMON */
html {
	position: relative;
	margin: 0;
}
.navbar{
	padding:0;
	border-radius: 0;
	border: 0;
}
nav .container-fluid{
	width: 100%;
	margin: 0;
	padding: 0;
}
.sign-group{
	width:100%;
	background-color: white;
	border-bottom: 1px solid #999;
}
.sign-group .btn{
	margin-left: 20px;
}

section .container {
	display: flex;
	margin-left: 130px;
}
section .container .reserve--left{
	width: 40%;
}
section .container .reserve--left img{
	display: block;
	width: 400px;
	margin: 0 auto;
}
section .container .reserve--right{
	width: 60%;
}
footer {
    position: relative;
	width: 100%;
	text-align: center;
	color: gray;
	margin-top: 30px;
}
footer .container{
	width: 100%;
	margin: 0;
	padding: 0;
}
.navleft {
	width: 125px;
	position: fixed;
	padding-left: 20px;
}
  @media (max-width: 767px) {
	.navleft {
		width: auto;
		position: relative;
	}
	section .container {
		margin-left: 0;
	}
  }
  /* FLOAT CLEARFIX */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.row {
	margin: 0;
}
.ui-datepicker-trigger{cursor: pointer;margin-left: 5px;}
.hasDatepicker{cursor: pointer;}
#etc {resize: none;width: 500px;height: 100px;}