/* BTN */
.adressbtn{
  height: 44px;
  background: #eee linear-gradient(to botton, #fcfcfc, #eee );
  border: 1px solid gray;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  color: #333;
}
.adressbtn:hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.07);
}

/* ---------------------------------------------------
    SIDELOGIN STYLE - join
----------------------------------------------------- */
a.join {
    background: #fff !important;
    color: rgb(11, 61, 105) !important;
}

a.login:hover {
    background: #fff;
    color: rgb(11, 61, 105);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.textcontent{
    margin-top: 10px;
}

/*-------------------CONTENT STYLE--------------------*/

/* ---------------------------------------------------
    LOGINFORM STYLE
----------------------------------------------------- */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.form-join {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}
.form-join .checkbox {
  font-weight: 400;
}
.form-join .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 15px;
  color: rgb(11, 61, 105);
}
.form-join .form-control:focus {
  z-index: 2;
}
.form-join input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-join input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-join .search{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.form-join .search a{
    text-decoration: underline;
    color: rgb(11, 61, 105);

}
.form-join .search a:hover{
    background: rgb(11, 61, 105);
    color: #fff;
    

}
.form-signin .search :first-child{
    margin-right: 30px;
    
}
.form-controlr{
  margin-right: 10px;
}
.address-box{
  display: flex;

}

#address{
  width: 200px;
  margin-bottom: 10px;
  margin-right:20px;
}
#address2{
  margin-bottom: 3px;
  
}