<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="order">
	<select id="OrderSelectAll" resultType="orderBean">
	select * from `order`
	</select>
	
	<!-- 상품 정보를 받아서 구매 할 때 입력해야 하므로 porduct table의 정보를 받아와야 함.  -->
	<select id="OrderProductPurchaseOne" resultType="orderBean" parameterType="int">
		select * from product where product_id=#{value}
	</select>
	

	<insert id="OrderProductPurchase" parameterType="orderBean">
	 	insert into 
		`order` values
		 (null,#{member_id},now(),${order_amount},#{order_name},#{order_tell},#{order_phone},
		 #{order_addr1},#{order_addr2},#{order_addr3},#{order_msg},1);
<!-- 	 	insert into 
		`order` values
		 (null,#{member_id},now(),(select product_price from product where product_id=#{product_id}),#{order_name},#{order_tell},#{order_phone},
		 #{order_addr1},#{order_addr2},#{order_addr3},#{order_msg},0); -->
	</insert> 

<!-- order_quantity 어떡할래 개 -->
	<insert id="OrderDetailInsert" parameterType="orderBean">
		insert into `order_detail`
		 values 
		 (default,(select a.order_id from `order` as a, `product` as b where b.product_id=${product_id} and member_id=${member_id}),
		 #{product_id},#{order_detail_price},#{order_detail_quantity});
	</insert>


<!-- 결제수단 결제 그 API에서 받아 올 수 있는지 확인 할 것.  -->
	<!-- <insert id="OrderPaymentInsert" parameterType="orderBean">
		insert into `payment` values (default,#{order_id},#{member_id},now(),#{order_amount},0);
	</insert> -->
	
	<!-- delivery_number 자동 생성해서 입력넣을 것. type=string임.  -->
<!-- 	<insert id="OrderDeliveryInsert" parameterType="orderBean">
		insert into `delivery` values (default,#{order_id},#{member_id},'비트택배',#{delivery_number},0);
	</insert> -->
	
  </mapper>
