<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="product">
  	<select id="ProductSelectAll" resultType="productBean">
	  	select (a.category_id, a.product_id, a.product_name, a.product_content, a.product_price, a.product_stock, a.product_date, 
	  	a.product_image, a.product_thumb, a.product_option1, a.product_option2, a.product_option3, a.product_option4, 
	  	a.product_option5,b.product_id, b.like_id, b.member_id from `product` as a left join `like` as b on a.product_id=b.product_id) 
	  	union select (a.like_id, a.member_id, a.product_id,b.category_id, b.product_id, b.product_name, b.product_content, b.product_price, 
	  	b.product_stock, b.product_date, b.product_image, b.product_thumb, b.product_option1, b.product_option2, b.product_option3, 
	  	b.product_option4, b.product_option5 from `like` as a left join `product` as b on a.product_id=b.product_id);
  	</select>
  	<select id="ProductDetailOne" resultType="productBean" parameterType="int">
	 select a.category_id, a.product_id, a.product_name, a.product_content, a.product_price, a.product_stock, a.product_date,
		  a.product_image, a.product_thumb, a.product_option1, a.product_option2, a.product_option3, a.product_option4, a.product_option5, 
		  b.product_id, (select count(*) from `like` l where a.product_id = l.product_id) as `like_id`, b.member_id from `product` as a left join `like` as b on a.product_id=b.product_id 
		  where a.product_id=#{value} 
		union select b.category_id, b.product_id, b.product_name,b.product_content, b.product_price, b.product_stock, b.product_date,
		 b.product_image, b.product_thumb, b.product_option1, b.product_option2, b.product_option3, b.product_option4, b.product_option5, 
		 a.product_id, (select count(*) from `like` l where b.product_id = l.product_id) as `like_id`, a.member_id from `like` as a  left join `product` as b on a.product_id=b.product_id 
		 where b.product_id=#{value}; 
	</select>
	<select id="ProductCategorySelect" resultType="productBean" parameterType="int">
		 select a.category_id, a.product_id, a.product_name, a.product_content, a.product_price, a.product_stock, a.product_date,
		  a.product_image, a.product_thumb, a.product_option1, a.product_option2, a.product_option3, a.product_option4, a.product_option5, 
		  b.product_id, (select count(*) from `like` l where a.product_id = l.product_id) as `like_id`, b.member_id from `product` as a left join `like` as b on a.product_id=b.product_id 
		  where a.category_id=#{value} 
		union select b.category_id, b.product_id, b.product_name,b.product_content, b.product_price, b.product_stock, b.product_date,
		 b.product_image, b.product_thumb, b.product_option1, b.product_option2, b.product_option3, b.product_option4, b.product_option5, 
		 a.product_id, (select count(*) from `like` l where b.product_id = l.product_id) as `like_id`, a.member_id from `like` as a  left join `product` as b on a.product_id=b.product_id 
		 where b.category_id=#{value}; 
  	</select> 
	<select id="ProductPaging" resultType="productBean" parameterType="int">
		select count(*) as AllProductNum,* from product where category_id=#{value};
	</select>
</mapper>
  
