.btn__group{
	width:240px;
	margin: 0 auto;
}
.btn{
	margin-right:10px;
	height:40px;
	width:80px;
	border: 1px solid #a1a0a0;
	border-radius:5px;
	background: #eee linear-gradient(to botton, #fcfcfc, #eee );
}
.btn:hover{
    border: 1px solid gray;
    background: rgba(0, 0, 0, 0.15);
} 
.btn-back{
	border:1px solid gray;
}
label{
	margin-bottom:0;
}
table{
	width: 100%;
	margin-top:40px;
	margin-left:50px;
}
table tbody tr{
	height:40px;
}
table tbody tr:nth-child(2){
	height:360px;
}
table tbody tr th{
	width : 10%;
	text-align:right;
	padding-right:10px;
	background:#5f4b8b80;
	
}
table tbody tr td{
	padding-left:10px;
	
}
.input--text{
	width:1045px;
	height:40px;
	border:1px solid rgb(209,209,209);
}
#cke_article_content{
	height:350px;
	width:90%;
}

.file-add{
	margin-top:25px;
}
