/* TABLE_LAYOUT STYLE */
.table_layout { margin:0px; table-layout:fixed; }
.table_layout .col1 { width: 150px; } /* 서비스 */ 
.table_layout .col2 { width: auto } /* 회원이름 */
.table_layout .col3 { width: 150px; } /* 체크인 */
.table_layout .col4 { width: 150px; } /* 체크아웃 */
.table_layout .col5 { width: 150px; } /* 품종 */
.table_layout .col6 { width: 100px; } /* 나이 */
.table_layout .col7 { width: 150px; } /* 작성일 */
.table_layout .col8 { width: 150px; } /* 예약상태 */


.insertbtn{
	margin:5px;
	width: 80px;
	
}
.search-group{
	margin:5px;
	height:38px;
	
}
.search-group input{
	height:38px;
	width:200px;
	border: 1px solid gray;
	border-radius: 5px;
}

.search-group button{
	height:38px;
	width: 60px;
	border: 1px solid gray;
	border-radius: 5px;
}
#search_Btn:hover{
	font-weight:800;
}
.table{
	
	margin: 0 auto;
}
.table thead{}

.table thead tr th{
	text-align:center;
}
	text-align:center;
.table tbody{}
.table tbody tr{
	height:40px;
	max-height:40px;
}
.table tbody tr td{
	padding:5px;
	text-align:center;
	overflow:hidden;
}

