/* TABLE_LAYOUT STYLE */
.table_layout { margin:0px; table-layout:fixed; }
.table_layout .col1 { width: 100px; } /* 글번호 */ 
.table_layout .col2 { width: 200px; } /* 상품명 */
.table_layout .col3 { width: 100px; } /* 썸네일 */
.table_layout .col4 { width: auto; } /* 제목 */
.table_layout .col5 { width: 100px; } /* 작성자 */
.table_layout .col6 { width: 120px; } /* 날짜 */
.table_layout .col7 { width: 100px; } /* 조회수 */

.total-count{
    display: flex;
	width:105px;
	margin:5px;
	border-bottom:2px solid gray;
    align-items: center;
    text-align:center;
}

.search-group{
	float:right;
	margin:5px;
	height:38px;
	
}
.search-group input{
	height:38px;
	width:200px;
	border: 1px solid gray;
	border-radius: 5px;
}

.search-group button{
	height:38px;
	width: 60px;
	border: 1px solid gray;
	border-radius: 5px;
}
#search_Btn:hover{
	font-weight:800;
}
.table{
	margin: auto;
	text-align:center;
}
.table td{
	padding:0;
}
.table td img{
	height:80px;
	width:80px;
}
.table thead{}

.table thead tr{
	background:#5f4b8b80;
}
.table thead tr th{
	text-align:center;
}
.table tbody{}
.table tbody tr{
	height:80px;
}
.table tbody tr td{
	height:80px;

}
.table tbody tr td div{
	height:30px;
	margin-top: 25px;
}

.table tbody tr td .div2{
	height:30px;
	margin-top: 14px;
}

