<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminProduct">

 	<!-- category list (product add page) -->
	<select id="selectCategory" resultType="adminCategoryBean">
	 	SELECT * FROM `CATEGORY`
	</select>
	
	<!-- product list -->
	<select id="selectAll" resultType="adminProductViewBean">
		SELECT 
			c.category_refid,
			(SELECT cc.category_name FROM `CATEGORY` cc WHERE c.category_refid=cc.category_id) AS "category_refidname",
            p.category_id,
		 	c.category_name,
            p.product_id,
		 	p.product_name,
		 	p.product_content,
		 	p.product_price,
		 	p.product_stock,
		 	p.product_date,
		 	p.product_image,
		 	p.product_thumb,
		 	p.product_option1,
		 	p.product_option2,
		 	p.product_option3,
		 	p.product_option4,
		 	p.product_option5,
			(SELECT count(*) FROM `LIKE` l WHERE l.product_id=p.product_id) AS "like_sum" 
				FROM `PRODUCT` p, `CATEGORY` c 
					WHERE p.category_id=c.category_id
					<trim prefix="AND">
						<if test="searchType=='category' and keyword != null and keyword != '' ">
							<!-- category_refidname like CONCAT('%', #{keyword}, '%') AND  --> 
							category_name LIKE CONCAT('%', #{keyword}, '%')
						</if>
						<if test="searchType=='product' and keyword != null and keyword != '' ">
							product_name LIKE CONCAT('%', #{keyword}, '%')
						</if>
					</trim>
					 ORDER BY p.product_id DESC LIMIT #{startList}, #{listSize}
	</select>
	
	<!-- product detail -->
	<select id="selectOne" parameterType="int" resultType="adminProductViewBean">
		 select
		 	c.category_refid,
		 	(SELECT cc.category_name FROM `CATEGORY` cc WHERE c.category_refid=cc.category_id) AS "category_refidname",
		 	p.category_id,
		 	c.category_name,
		 	p.product_id,
		 	p.product_name,
		 	p.product_content,
		 	p.product_price,
		 	p.product_stock,
		 	p.product_date,
		 	p.product_image,
		 	p.product_thumb,
		 	p.product_option1,
		 	p.product_option2,
		 	p.product_option3,
		 	p.product_option4,
		 	p.product_option5,
			(SELECT count(*) FROM `LIKE` l WHERE l.product_id=p.product_id) AS "like_sum" 
				from `PRODUCT` p, `CATEGORY` c 
					WHERE p.category_id=c.category_id AND p.product_id=#{value}
	</select>
	
	<!-- product add -->
	<insert id="insertOne" parameterType="adminProductBean">
		INSERT INTO `PRODUCT` VALUES (
			#{category_id},
			null,
			#{product_name},
			#{product_content},
			#{product_price},
			#{product_stock},
			now(),
			#{product_image},
			#{product_thumb},
			#{product_option1},
			#{product_option2},
			#{product_option3},
			#{product_option4},
			#{product_option5}
		)
	</insert>
	
	<!-- product edit -->
	<update id="updateOne" parameterType="adminProductBean">
		UPDATE `PRODUCT` SET 
			category_id = #{category_id}, 
        	product_id = #{product_id},
         	product_name = #{product_name},
	        product_content = #{product_content},
	        product_price = #{product_price},
	        product_stock = #{product_stock},
	        product_image = #{product_image},
	        product_thumb = #{product_thumb},
	        product_option1 = #{product_option1},
	        product_option2 = #{product_option2},
	        product_option3 = #{product_option3},
	        product_option4 = #{product_option4},
	        product_option5 = #{product_option5}
    			WHERE product_id = ${product_id}
	</update>
	
	<!-- product delete -->
	<delete id="deleteOne" parameterType="int">
		DELETE FROM `PRODUCT` WHERE product_id=#{value}
	</delete>
	
	<!-- product total -->
  	<select id="selectTotal" resultType="int">
  		SELECT count(*) AS listCnt FROM `PRODUCT`
   			<trim prefix="WHERE">
				<if test="keyword != null and keyword != '' ">
		  			<!-- <if test="searchType == 'categoty'">
						category_refidname like CONCAT('%', #{keyword}, '%') AND  
						category_name LIKE CONCAT('%', #{keyword}, '%')
					</if> -->
					<if test="searchType == 'product'">
						product_name LIKE CONCAT('%', #{keyword}, '%')
					</if>
	  			</if>
  			</trim>
  	</select>
</mapper>
  