<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminReservation" >
	<!-- reservation list -->
	<select id="selectAll" resultType="adminReservationBean">
		SELECT 
			r.reserve_id, 
		    r.member_id,
		    s.service_name,
		    r.reserve_checkin,
		    r.reserve_checkout,
		    r.reserve_dogtype,
		    r.reserve_dogage,
		    r.reserve_date,
		    r.reserve_state_id
    	FROM `RESERVE` r, `SERVICE` s WHERE r.service_id=s.service_id ORDER BY r.reserve_date DESC;
	</select>
	
	<!-- hotelService list -->
	<select id="selectService" resultType="adminHotelServiceBean">
		select * from `service`
	</select>
	
	<!-- reservation detail -->
	<select id="selectOne" parameterType="int" resultType="adminReservationBean">
		SELECT 
			r.reserve_id, 
		    r.member_id,
		    s.service_name,
		    r.reserve_checkin,
		    r.reserve_checkout,
		    r.reserve_dogtype,
		    r.reserve_dogage,
		    r.reserve_date,
		    r.reserve_msg,
		    r.reserve_state_id,
            m.member_name,
            m.member_phone
    	FROM `RESERVE` r, `SERVICE` s, `member` m WHERE r.service_id=s.service_id AND r.member_id=m.member_id AND r.reserve_id=#{value};
	</select>
	
	
	<!--  reservation state edit -->
	<update id="updateOne" parameterType="adminReservationBean">
		UPDATE `RESERVE` SET 
			reserve_state_id = #{reserve_state_id} 
    			WHERE reserve_id = #{reserve_id}
	</update>
</mapper> 