<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminReservation" >
	<!-- reservation list -->
	<select id="selectAll" resultType="adminReservationBean">
		SELECT 
			r.reserve_id, 
		    r.member_id,
		    s.service_name,
		    r.reserve_checkin,
		    r.reserve_checkout,
		    r.reserve_dogtype,
		    r.reserve_dogage,
		    r.reserve_date,
		    r.reserve_state_id
    	FROM `RESERVE` r, `SERVICE` s WHERE r.service_id=s.service_id
    		<trim prefix="AND">
    					<if test="searchType=='all' and keyword != null and keyword != '' ">
							(service_name LIKE CONCAT('%', #{keyword}, '%') OR
							reserve_date LIKE CONCAT('%', #{keyword}, '%') OR
							member_id LIKE CONCAT('%', #{keyword}, '%'))
						</if>
						<if test="searchType=='service' and keyword != null and keyword != '' ">
							service_name LIKE CONCAT('%', #{keyword}, '%')
						</if>
						<if test="searchType=='reserve_date' and keyword != null and keyword != '' ">
							reserve_date LIKE CONCAT('%', #{keyword}, '%')
						</if>
						<if test="searchType=='member' and keyword != null and keyword != '' ">
							member_id LIKE CONCAT('%', #{keyword}, '%')
						</if>
					</trim>
    	 			ORDER BY r.reserve_date DESC LIMIT #{startList}, #{listSize};
	</select>
	
	<!-- hotelService list -->
	<select id="selectService" resultType="adminHotelServiceBean">
		select * from `service`
	</select>
	
	<!-- reservation detail -->
	<select id="selectOne" parameterType="int" resultType="adminReservationBean">
		SELECT 
			r.reserve_id, 
		    r.member_id,
		    s.service_name,
		    r.reserve_checkin,
		    r.reserve_checkout,
		    r.reserve_dogtype,
		    r.reserve_dogage,
		    r.reserve_date,
		    r.reserve_msg,
		    r.reserve_state_id,
            m.member_name,
            m.member_phone
    	FROM `RESERVE` r, `SERVICE` s, `member` m WHERE r.service_id=s.service_id AND r.member_id=m.member_id AND r.reserve_id=#{value};
	</select>
	
	<!-- reservation total -->
	<select id="selectTotal" resultType="int">
	 SELECT count(*) AS listCnt FROM `RESERVE`
	 	<trim prefix="WHERE">
	 		<if test="keyword != null and keyword != '' ">
	 			<if test="searchType == 'all'">
					(service_name LIKE CONCAT('%', #{keyword}, '%') OR
					reserve_date LIKE CONCAT('%', #{keyword}, '%') OR
					member_id LIKE CONCAT('%', #{keyword}, '%'))
				</if>
				<if test="searchType == 'service'">
					service_name LIKE CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'reserve_date'">
					reserve_date LIKE CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType == 'member'">
					member_id LIKE CONCAT('%', #{keyword}, '%')
				</if>
	 		</if>
	 	</trim>
		
	</select>

</mapper> 