<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminQuestion">

	<!-- question list -->
	<select id="selectQuestion" resultType="adminQuestionBean">
		SELECT
			q.*,
			t.question_type_name,
			st.question_state_name,
			se.question_secret_name
				FROM `QUESTION` q, `QUESTION_TYPE` t, `QUESTION_STATE` st, `QUESTION_SECRET` se 
					WHERE q.question_state_id=0 and
						q.question_type_id=t.question_type_id and
						q.question_state_id=st.question_state_id and
						q.question_secret_id=se.question_secret_id
						ORDER BY question_id ASC LIMIT #{startList}, #{listSize}
	</select>
	
	<!-- answer list -->
	<select id="selectAnswer" resultType="adminQuestionBean">
		SELECT
			q.*,
			t.question_type_name,
			st.question_state_name,
			se.question_secret_name
				FROM `QUESTION` q, `QUESTION_TYPE` t, `QUESTION_STATE` st, `QUESTION_SECRET` se 
					WHERE q.question_state_id=1 and
						q.question_type_id=t.question_type_id and
						q.question_state_id=st.question_state_id and
						q.question_secret_id=se.question_secret_id
						ORDER BY question_id ASC LIMIT #{startList}, #{listSize}
	</select>
	
	<!-- question list total  -->
	<select id="questionTotal" resultType="int">
  		SELECT count(*) as listCnt FROM `QUESTION` WHERE question_state_id=0
	</select>
	
	<!-- answer list total  -->
	<select id="answerTotal" resultType="int">
  		SELECT count(*) as listCnt FROM `QUESTION` WHERE question_state_id=1
	</select>
	
	<select id="selectOne" resultType="adminQuestionBean">
		SELECT
			q.*,
			t.question_type_name,
			st.question_state_name,
			se.question_secret_name,
			p.product_name
				FROM `QUESTION` q, `QUESTION_TYPE` t, `QUESTION_STATE` st, `QUESTION_SECRET` se, `PRODUCT` p
					WHERE question_id=#{question_id} and
						q.question_type_id=t.question_type_id and
						q.question_state_id=st.question_state_id and
						q.question_secret_id=se.question_secret_id and
						q.product_id=p.product_id
	</select>
</mapper>