<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminReservation" >
	<!-- reservation list -->
	<select id="selectAll" resultType="adminReservationBean">
		select * from `reserve` order by reserve_id;
	</select>
	
	<!-- reservation detail -->
	<select id="selectOne" parameterType="String" resultType="adminReservationBean">
		select * from `reserve` where member_id=#{value}
	</select>

</mapper> 