<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMember">

	<!-- member list -->
	<select id="selectAll" resultType="adminMemberViewBean">
		select * from `member` order by member_name;
	</select>
	
	<!-- member detail -->
	<select id="selectOne" parameterType="String" resultType="adminMemberViewBean">
		select * from `member` where member_id=#{value}
	</select>
</mapper>