.section::after{
    content: "";
    display: block;
    clear: both;
}
.main--title{
    margin-bottom: 20px;
}
table thead tr {
    background: #ddd;
}
table thead tr th{
    padding: 3px 15px;
    box-sizing: border-box;
    border-top: #999 1px solid;
    border-bottom: #999 1px solid;
    line-height: 1.5;
    height: 70px;
}
table thead tr th strong{
    font-weight: 500;
}
table thead tr th span:first-child{
    font-size: 20px;
    line-height: 70px;
}
table thead tr th span:nth-child(2){
    padding-top: 10px;
    text-align: center;
    float: right;
}
table tbody tr td {
    padding: 24px 42px 40px;
}
table tbody tr td p {
    color: #111;
    font-weight: 500;
}
#btn--list{
    float: right;
}