.section::after{
    content: "";
    display: block;
    clear: both;
}
.main--title{
    margin-bottom: 20px;
}
table{
    width: 100%;
}
table thead tr {
    background: rgba(181, 209, 250, 0.5);
}
table thead tr th{
    padding: 3px 15px;
    box-sizing: border-box;
    border-top: #999 1px solid;
    border-bottom: rgba(153, 153, 153, 0.5) 1px solid;
    line-height: 1.5;
    height: 50px;
    font-size: 22px;
}
table thead tr th strong{
    font-weight: 500;
}
/* table thead tr th span:first-child{
    font-size: 20px;
    line-height: 70px;
    float: left;
}
table thead tr th span:nth-child(2){
    padding-top: 10px;
    text-align: center;
    float: right;
} */

table tbody tr td:first-child{
	border-bottom: rgba(153, 153, 153, 0.5) 1px solid;
}

table tbody tr td span{
    margin-right:10px;
    line-height:30px;
	
}
table tbody tr td span:first-child {
    margin-left:15px;
    float:left;
}
table tbody tr td span:last-child {
    margin-right:15px;
    float:right;
}
table tbody tr td div {
    padding: 24px 42px 40px;
}
table tbody tr td p {
    color: #111;
    font-weight: 500;
}
#btn--list{
    float: right;
}