
/* BTN */
.btn{
    height: 34px;
    background: #eee linear-gradient(to botton, #fcfcfc, #eee );
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #333;
}
.btn:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
}
.btn.btn--primary {
    border: 1px solid #0F4C81;
    color: #fff;
    background: #0F4C81 linear-gradient(rgb(22, 121, 207), #0F4C81);
  }
/* INPUT TEXT */
.input--text{
    height: 34px;
    padding: 0 10px;
    border: 1px solid#ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 16px;
}
.input--text:focus{
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
                0 0 5px rgba(81,127,232,0.5);
}
/* Vendeor Prefix(브라우저 업체별 접두사) */
.input--text::-webkit-input-placeholder{color: #cacaca;}
.input--text::-ms-input-placeholder{color: #cacaca;}
.input--text::-moz-input-placeholder{color: #cacaca;}

/* FLOAT CLEARFIX*/
.claerfix::after{
    content: "";
    display: block;
    clear: both;
}
.float--left{
    float: left;
}
.float--right{
    float: right;
}


/* SUMMARY */

.summary{

}
.summary__title{
    font-size: 38px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 18px;
    color: rgb(11, 61, 105);
}
.summary__description{
    font-size: 20px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
}


/* SECTION */

.section{
    position: relative;
}
.section--feature{
    height: 500px;
    margin-left: 30px;
}
.section--feature .summary{
    margin-bottom: 20px;
}
.section--feature .summary__title{

}
.section--feature .summary__descirption{
}

#mypage-conn{
}
#mypage-conn li{
    list-style: none;
}
#mypage-conn .input--text{
    width: 200x;
}
#mypage-conn ul{
    display: flex;
}
#mypage-conn ul li{
    margin-right: 15px;
}
#mypage-conn [type="submit"]{
    width: 80px;
    justify-content: center;
}
#mypage-conn ul li:last-child{
    margin-right: 0;
}

#mypage-info{
   
    
}
#mypage-info ul{
    width: 100%;
    list-style: none;
    margin: 0 auto;
}
#mypage-info ul li{
    display: flex;
    margin-bottom: 15px;
}
#mypage-info ul li:nth-child(2){
    margin-bottom: 2px;
}

#mypage-info ul li label{
    display: block;
    width: 150px;
    margin-top: 5px;
    margin-right: 10px;
    text-align: right;

}
#mypage-info .input--text{
    width: 300px;
}
#mypage-info .btn{
    margin-left: 10px;
}
