ul{
    list-style: none;
}


/* BTN */
.btn{
    height: 34px;
    background: #eee linear-gradient(to botton, #fcfcfc, #eee );
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #333;
}
.btn:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
}
.btn.btn--primary {
    border: 1px solid #0F4C81;
    color: #fff;
    background: #0F4C81 linear-gradient(rgb(22, 121, 207), #0F4C81);
  }
/* INPUT TEXT */
.input--text{
    height: 34px;
    padding: 0 10px;
    border: 1px solid#ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 16px;
}
.input--text:focus{
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
                0 0 5px rgba(81,127,232,0.5);
}
/* Vendeor Prefix(브라우저 업체별 접두사) */
.input--text::-webkit-input-placeholder{color: #cacaca;}
.input--text::-ms-input-placeholder{color: #cacaca;}
.input--text::-moz-input-placeholder{color: #cacaca;}

/* FLOAT CLEARFIX*/
.claerfix::after{
    content: "";
    display: block;
    clear: both;
}
.float--left{
    float: left;
}
.float--right{
    float: right;
}


/* SUMMARY */

.summary{

}
.summary__title{
    font-size: 38px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 18px;
    color: rgb(11, 61, 105);
}
.summary__description{
    font-size: 20px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
}


/* SECTION */

.section{
    position: relative;
}
.section .title-group{
    max-width: 1000px;
    height: 80px;
    border-bottom: 1px solid gray;
    margin-bottom: 40px;
}
.section .main--title{
    display: flex;
    align-items: center;
    height: 100%;

}
.section .route{
    display: flex;
    align-items: center;
    height: 100%;
}
.section .route li{
    font-size: 16px;
    font-weight: 800;
    margin-right: 10px;
    color: rgb(185, 184, 184);
    
}

.section .route li:first-child{
    font-size: 16px;
    color: #333;
    font-weight: 800;
    margin-right: 10px;
    
}
.table{
    border-bottom: 1px solid rgb(185, 184, 184);
    text-align: center;
}
.table th{
    text-align: center;
}
.table tr{

}
.table td{
    margin-bottom: 0;
}
.table td span{
    display: block;
}
.table td:nth-child(2) a{
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    padding-top: 5px;
    box-sizing: border-box;
    align-items: center;
    background: tomato;
}
.section .coast{
    border: 1.5px solid rgb(112, 112, 112);
    border-radius: 5px;
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.section .coast-group{
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 0;
    text-align: right;
}
.coast-group li{
    margin-left: 30px;
    font-size: 20px;
}
.section .btn--group{
    width: 1000px;
    height: 80px;
    
    position: relative;
}
.section .selectP{
    display: flex;
    margin-top: 15px;
    height: 100%;

}
.selectP button{
    width: 120px;
    height: 30px;
    margin-right: 30px;
    
}
.section .orderP{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0;

}
.orderP button{
    width: 200px;
    height: 50px;
    margin-left: 30px;
    font-weight: 600;
    font-size: 20px;
}
.btn-order{
    border: 1px solid #0F4C81;
    color: #fff;
    background: #0F4C81 linear-gradient(rgb(22, 121, 207), #0F4C81);
    
    border: 1px solid ;
}
.btn-order:hover{
    background: #fff;
    color: #0F4C81;
}

.section .chk-non{
    margin-bottom: 100px;
    text-align: right;
}
