/* BTN */
.cBtn{
    height: 34px;
    background: #eee linear-gradient(to botton, #fcfcfc, #eee );
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #333;
}
.cBtn:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
}
.btn.btn--primary {
    border: 1px solid #0F4C81;
    color: #fff;
    background: #0F4C81 linear-gradient(rgb(22, 121, 207), #0F4C81);
  }
/* INPUT TEXT */
.input--text{
    height: 34px;
    width:200px;
    padding: 0 10px;
    border: 1px solid#ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 18px;
}
.input--text:focus{
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
                0 0 5px rgba(81,127,232,0.5);
}
/* Vendeor Prefix(브라우저 업체별 접두사) */
.input--text::-webkit-input-placeholder{color: #cacaca;}
.input--text::-ms-input-placeholder{color: #cacaca;}
.input--text::-moz-input-placeholder{color: #cacaca;}


table{
	width:800px;
	margin: 0 auto;
	margin-bottom:20px;
}
table tr{
	height:45px;
	border-bottom:1px solid #d5d5d5;
}
table tr th{
	width:150px;
	text-align:right;
	padding-right:10px;
	font-size:20px;
	
}
table tr td{
	padding-left:10px;
	font-size:20px;
	padding-top:15px;
	padding-bottom:15px;
}
table tr td input{
	margin:5px;
}
#pw_change_chk{
	margin-left:0;
}
#addr3_change{
	margin-left:0;
	width:250px;
}
.btnbox{
	width:80%;
	margin:0 auto;
	height:80px;
}
.backBtn{
	margin-left:720px;
}