.navbar {
    margin-bottom: 5px;
}

.mytop{
	background-color: #0F4C81;
	width:100%;
	height:200px;
	display:flex;
	padding-right:10px;
	
}
#icon{
	display:flex;
	margin: auto;
	border: 10px solid #0F4C81;
	border-radius:30px;
	background: white;
	width:175px;
	height:200px;
	color: #0F4C81;
	padding-left:15px;
	padding-top:20px;
}
.info{
	display:flex;
	margin: auto;
	border: 10px solid white;
	border-radius:5px;
	background: white;
	width:550px;
	height:180px;
	color: #0F4C81;
	padding:10px;
}
.info ul{
	padding-left:0px;
}
.info ul li{
	display:flex;	
}
.info ul li h3{
	margin-right:15px;
}
.info ul li span{
	font-size:20px;
}
.editbox{
	margin-left:30px;
}
.editbox button{
	margin-right:0;
}
.info-box{
	margin: auto;
	border: 10px solid white;
	border-radius:5px;
	background:#fff;
	width:200px;
	height:180px;
	color: #0F4C81;
	padding-top:40px;
	padding-right:10px;
	padding-left:10px;
	text-align:center;
}
.empty{
	margin-top:20px;
	height:300px;
}