ul{
    list-style: none;
}
.btn.btn--primary {
    border: 1px solid #0F4C81;
    color: #fff;
    background: #0F4C81 linear-gradient(rgb(22, 121, 207), #0F4C81);
  }
/* INPUT TEXT */
.input--text{
	width:200px;
    height: 34px;
    padding: 10px;
    border: 1px solid#ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 16px;
    margin-left:10px;
    margin-top:5px;
}
.input--text:last-child{
	margin-bottom:5px;
	width:300px;
}
.input--text:focus{
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
                0 0 5px rgba(81,127,232,0.5);
}
/* Vendeor Prefix(브라우저 업체별 접두사) */
.input--text::-webkit-input-placeholder{color: #cacaca;}
.input--text::-ms-input-placeholder{color: #cacaca;}
.input--text::-moz-input-placeholder{color: #cacaca;}

/* FLOAT CLEARFIX*/
.claerfix::after{
    content: "";
    display: block;
    clear: both;
}
.float--left{
    float: left;
}
.float--right{
    float: right;
}


/* SUMMARY */

.summary{

}
.summary__title{
    font-size: 38px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 18px;
    color: rgb(11, 61, 105);
}
.summary__description{
    font-size: 20px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
}


/* SECTION */

.section{
    position: relative;
}
.section .title-group{
    max-width: 1000px;
    height: 80px;
    border-bottom: 1px solid gray;
    margin-bottom: 40px;
}
.section .main--title{
    display: flex;
    align-items: center;
    height: 100%;

}
.section .route{
    display: flex;
    align-items: center;
    height: 100%;
}
.section .route li{
    font-size: 16px;
    font-weight: 800;
    margin-right: 10px;
    color: rgb(185, 184, 184);
    
}

 .section .route li:nth-child(2){
    font-size: 16px;
    color: #333;
    font-weight: 800;
    margin-right: 10px;
    
}
.table{
    border-bottom: 1px solid rgb(185, 184, 184);
    text-align: center;
}
.table thead{
    background-color: rgba(197, 194, 194, 0.438);
}
.table thead tr{
    text-align: center;
    height: 50px;
    margin: 0;
}
.table tbody tr{
    height: 70px;
}
.table tbody td{
    height: 60px;
    padding-top: 20px;
   
    text-align: center;
}

.table td span{
    display: block;
}

.table td:nth-child(2) a{
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    padding-top: 5px;
    box-sizing: border-box;
    align-items: center;
    background: tomato;
}
.section .coast{
    border: 1.5px solid rgb(112, 112, 112);
    border-radius: 5px;
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.section .coast-group{
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 0;
    text-align: right;
}
.coast-group li{
    margin-left: 30px;
    font-size: 20px;
}
.section .btn--group{
    width: 1000px;
    height: 80px;
    
    position: relative;
}
.section .selectP{
    display: flex;
    margin-top: 15px;
    height: 100%;

}
.selectP button{
    width: 120px;
    height: 30px;
    margin-right: 30px;
    
}
.section .orderP{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0;

}
.orderP button{
    width: 200px;
    height: 50px;
    margin-left: 30px;
    font-weight: 600;
    font-size: 20px;
}
.section .purchase{
    width: 1000px;
    height: 200px;
    position: relative;
}
.purchase button{
    width: 30%;
    height: 60px;
    display: block;
    margin: 20px auto;
    font-size: 36px;
    
    
}
.btn-order{
    border: 1px solid #0F4C81;
    color: #fff;
    background: #0F4C81 linear-gradient(rgb(22, 121, 207), #0F4C81);
    border: 1px solid ;
    border-radius: 4px;
}
.btn-order:hover{
    background: #0F4C81 linear-gradient(#0F4C81, rgb(22, 121, 207));
    color: #fff;
}

.section .chk-non{
    margin-bottom: 100px;
    text-align: right;
}
.coast-group .total__title{
    font-weight: 600;
    color: rgb(15, 17, 129);
    
}
.coast-group .total{
    color: rgb(15, 17, 129);

    font-size: 36px;
    font-weight: 600;
}

.order_info{
    width: 100%;
    margin-top: 20px;
}
.table-left{
    width: 100%;
    border-top: 1.5px solid rgb(112, 112, 112);
    
}
.table-left tr{
    border-bottom: 1px solid rgba(112, 112, 112,.25);
    
}
.table-left th{
    width: 150px;
    background: rgb(226, 231, 233);
    text-align: center;
}
.form-control{
    margin: 5px 10px;
    width: 200px;
}
.delivery_info{
    width: 100%;
    margin: 30px auto;
}

.form-check {
    position: relative;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.table-left .detail-adress{
    margin-left: 0px;
    width: 400px;
}

.form-check-label{
	margin-left:10px;
	height:30px;
	margin-top:5px;
	
}
.form-check-input{
	margin:0;
	margin-top:10px;
	width:50px;
	height:15px;
}
#postSearch{
	margin-left:10px;
}
.table-left textarea{
	border: 1px solid#ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    width:515px;
    height:100%;
    margin-top:5px;
	margin-left:10px;
	padding:10px;    
}