/*-------------------CONTENT STYLE--------------------*/

/* ---------------------------------------------------
    CAROUSEL STYLE
----------------------------------------------------- */

#carouselExampleInterval {
    position: relative;
    height: 650px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.carousel-inner {
    display: inline-block;
    overflow: hidden;
    max-height: 650px;
    height: 100%;
}
.carousel-item img{
    max-height: 650px;
}

.textcontent{
    margin-top: 10px;
}
.total-item{
  text-align: right;
}
/* ---------------------------------------------------
    GOODSDETAIL STYLE
----------------------------------------------------- */
.goodsImg{
  width: 350px;
  height: 500px;
 
  padding: 10px;
}
.goodsImg>img{
  min-width: 328px;
  max-width: 328px;
  min-height: 460px;
  max-height: 460px;
}

#descrip{
 
  padding: 15px;
  height: 500px;
}
.goods-text{
  
  height: 180px;
}

.goods-text>h5{
  text-align: center;
}

a{
  float: right;
  margin-left: 50px;
  
}
