/*-------------------CONTENT STYLE--------------------*/

/* ---------------------------------------------------
    CAROUSEL STYLE
----------------------------------------------------- */

#carouselExampleInterval {
    position: relative;
    height: 650px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.carousel-inner {
    display: inline-block;
    overflow: hidden;
    max-height: 650px;
    height: 100%;
}
.carousel-item img{
    max-height: 650px;
}

.textcontent{
    margin-top: 10px;
}
.total-item{
  text-align: right;
}
/* ---------------------------------------------------
    GOODSDETAIL STYLE
----------------------------------------------------- */
.goodsImg{
  width: 350px;
  height: 480px;
  border: solid 1px teal;
  padding: 10px;
}
.goodsImg>img{
  min-width: 328px;
  max-width: 328px;
  min-height: 460px;
  max-height: 460px;
}
.goodsImgD{
  border: solid;
  padding: 10px;
  width: 370px;
  height: 3;
}
.goodsImgD>img{
  min-width: 85px;
  max-width: 85px;
}