/*-------------------CONTENT STYLE--------------------*/

/* ---------------------------------------------------
    CAROUSEL STYLE
----------------------------------------------------- */

#carouselExampleInterval {
    position: relative;
    height: 650px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.carousel-inner {
    display: inline-block;
    overflow: hidden;
    max-height: 650px;
    height: 100%;
}
.carousel-item img{
    max-height: 650px;
}

.textcontent{
    margin-top: 10px;
}
.total-item{
  text-align: right;
}
/* ---------------------------------------------------
    GOODSDETAIL STYLE
----------------------------------------------------- */
.goodsImg{
  width: 350px;
  height: 500px;
  border: solid;
  padding: 10px;
}
.goodsImg>img{
  min-width: 325px;
  max-width: 325px;
  min-height: 460px;
  max-height: 460px;
}

#descrip{
 
  padding: 15px;
  height: 500px;
}
.goods-text{
  height: 180px;
}
.goods-text div{
	margin-bottom:10px;
	font-size:18px;
}
.goods-text .title{
	text-align: center;

}
.goods-text>h5{
  text-align: center;
}

.detailbtnR{
  float: right;
  margin-left: 20px;
  
}
.nav-tabs{
  margin-top: 20px;
}
.breadcrumb {
  display: block;
  overflow: hidden;
  margin-right: 0px;
}

.breadcrumb-item {
  float: left;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Rounded tabs */

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

/* With arrow tabs */

.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #0F4C81;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
  background: none;
  color: #0F4C81;
  border-color: #0F4C81;
}
.btn--group{
	display:block;
	margin-top:20px;
	margin-left:50px;
}
#question_label{
	width:76px;
	text-align: center;
}
#question_title{
	width:420px;
}
#question_content{
	width:500px;
	height:60px
}

.replyList ol h4{
	margin-top:20px;
	
}



