<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="login">
	<select id="loginChk" resultType="String">
		select member_name from member where member_id=#{member_id} and member_pw=#{member_pw}
	</select>
	<select id="loginInfo" resultType="memberBean">
		select * from member where member_id=#{member_id} and member_pw=#{member_pw}
	</select>
	<select id="findIDCheck" parameterType="hashmap" resultType="int">
		select count(*) from member where member_name=#{name_check} and member_phone=#{phone_check}
	</select>
	<select id="findID" parameterType="hashmap" resultType="String">
		select member_id from member where member_name=#{name_check} and member_phone=#{phone_check}
	</select>
	<select id="findPWCheck" parameterType="hashmap" resultType="int">
		select count(*) from member where member_name=#{name_check} and member_id=#{id_check} and member_email=#{email_check}
	</select>
	<update id="updateRandomPW" parameterType="hashmap">
  		update member set member_pw=#{randomPW} where member_name=#{name_check} and member_id=#{id_check} and member_email=#{email_check}
  	</update>
</mapper>
  